@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

.inexperienced .inexperienced-box {
	margin:auto;
	margin-bottom:20px;
}

.experienced .experienced-box{
	margin:auto;
	margin-bottom:20px;
}

.image-size {
	position: absolute;
	top: 126px;
	bottom: 0;
	left: -13px;
	right: 0;
	margin: auto;
	width: 300px;
	height: 150px;
	object-fit: cover;
}

.beginner-img {
	position: relative;
}

.beginner-img p {
	position: absolute;
	top: 40px;
	left: 50%;
}

.font-form {
	font-family: 'Noto Serif JP', sans-serif;
	color: #111111;
	font-size: 11px;
}

.font-form p {
	margin-left: -10px;
}

.font-position {
	font-family: 'Noto Serif JP', sans-serif;
	color: #111111;
	font-size: 11px;
}

.font-position p {
	margin-top: 20px;
	margin-left: -10px;
}

.inexperienced-box {
	position: relative;
	padding: 10px;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	width: 300px;
	height: 300px;
	background-color: white;
}

.p-display {
	font-size: 14px;
	font-family: 'Noto Serif JP', sans-serif;
	color: #BBBBBB;
}

.h3-position h3 {
	font-size: 16px;
	font-family: 'Noto Serif JP', sans-serif;
	color: #BBBBBB;
	margin-top: 150px;
}

.inexperienced-box a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
}

.inexperienced-box:hover {
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.experienced-image-size {
	position: absolute;
	top: 0;
	bottom: 148px;
	left: -3px;
	right: 0;
	margin: auto;
	width: 301px;
	height: 150px;
	object-fit: cover;
}

.experienced-box {
	position: relative;
	padding: 10px;
	border-left: 3px solid white;
	border-right: 3px solid white;
	border-bottom: 3px solid white;
	width: 301px;
	height: 300px;
	background-color: white;
	display: flex;
}

.experienced-box a {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
}

.experienced-box:hover {
	box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.box-display {
	display: flex;
}

.experienced-h3-position h3 {
	font-size: 16px;
	font-family: 'Noto Serif JP', sans-serif;
	color: #BBBBBB;
	margin-top: 150px;
}

.experienced-p-position {
	font-size: 14px;
	font-family: 'Noto Serif JP', sans-serif;
	color: #BBBBBB;
}