.details-button {
  position: relative;
  display: inline-block;
  padding: .9em 4em;
  background-color: #e60e0e;
  border: 2px solid #e60e0e;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}
.details-button::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-color: #e60e0e;
  transition: all .3s;
}
.details-button:hover {
  background-color: #fff;
  color: #e60e0e;
}
.post-contents .button01:hover::after {
  border-left-color: #333;
}

.col-xs-12 .details-button-position {
	text-align:center;
}

.details-button-position {
	margin-bottom:40px;
}