.main {
  background-color:#E6E6E6;
}

.main_top {
  background-color:#6E6E6E;
}

.owl-controls {
  display: none;
}

.left {
  margin-top:20px;
}

.right{
  margin-bottom: 2em;
}

.english {
  font-family:'Alex Brush','Segoe Script',sans-serif;
  font-size:25px;
}

.btn1 {
  margin-top:20px;
  background-color:rgba(242, 173, 46, 1) ;
  border:3px solid #fff;
  box-shadow: 0px 1px 4px #fff inset;
  padding:1px 0px 15px 0px;
}

.bt1 {
  float:left;
}

.btn1:hover {
  background-color:rgba(0, 0, 0, 1);
  transition:all 0.5s;
}

.btn1 a {
  color:#fff;
  display:block;
  font-size:30px;
}

.btn1 img{
 margin-right:px;
 position:relative;
 top:9px;
 right:-20px;
}

.btn2 {
  margin-top:7px;
  background-color:rgba(98, 170, 35, 1) ;
  border:3px solid #fff;
  box-shadow: 0px 1px 4px #fff inset;
  padding:1px 0px 15px 0px;
}

.bt2 {
  float:left;
}

.btn2:hover {
  background-color:rgba(0, 0, 0, 1);
  transition:all 0.5s;
}

.btn2 a {
  color:#fff;
  display:block;
  font-size:30px;
}

.btn2 img{
 margin-right:px;
 position:relative;
 top:9px;
 right:-20px;
}

.btn4 {
  margin-top:10px;
}

.item{
  font-size:15px;
}

.wel {
  background-color:rgba(60, 178, 178, 1);
  border:3px solid #fff;
  padding:20px 10px 10px 10px;
}

.welcome p {
  color:#fff;
}