.gtco-container {
  max-width: 992px;
  position: relative;
  margin: 0 auto;
}

.gtco-heading {
  margin-bottom: 2em;
}

.gtco-heading.gtco-heading-sm {
  margin-bottom: 2em;
}
.gtco-heading h2 {
  font-size: 40px;
  margin-bottom: 10px;
  line-height: 1.5;
  color: #000;
  font-weight: 300;
}
.gtco-heading p {
  font-size: 15px;
  line-height: 1.7;
  color: #000000;
}

.gtco-section {
  padding-bottom:10px;
  clear: both;
  position: relative;
}
@media screen and (max-width: 768px) {
  .gtco-section {
    padding: 3em 0;
  }
}
.gtco-section.border-bottom {
  border-bottom: 1px solid #d9d9d9;
}
.gtco-section.gtco-gray {
  background: #f6f6f6;
}

