@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');

.list-group {
	float: left;
	width: 220px;
}

.recruit {
	background-color:white;
}


.recruit h3 {
	text-align:center;
}

.content {
	margin: 0;
	padding: 0;
	width: 680px;
	text-align: left;
}

.font-form h3 {
	font-size: 18px;
	font-family: 'Sawarabi Mincho', sans-serif;
	margin-top:30px;
	margin-bottom:30px;
}

.recruit2 h3 {
	font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
	font-weight: bold;
}

.recruit2 p {
	font-size: 13px;
}

.box {
	position: rerative;
	height: 35px;
	border-radius: 3px 3px 3px 3px;
	border-top: 5px solid #9370DB;
	border-left: 2px solid #a9a4a4;
	border-right: 2px solid #a9a4a4;
	border-bottom: 2px solid #a9a4a4;
	background-color: #a9a4a4;
}

.box h3 {
	position: absolute;
	top: 12px;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.box-2 {
	position: rerative;
	height: 35px;
	border-radius: 3px 3px 3px 3px;
	border-top: 5px solid #9370DB;
	border-left: 2px solid #a9a4a4;
	border-right: 2px solid #a9a4a4;
	border-bottom: 2px solid #a9a4a4;
	background-color: #a9a4a4;
}

.box-2 h3 {
	position: absolute;
	top: 12px;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.recruit3 .box-2 {
	margin-left: -15px;
	margin-right: -15px;
}

.recruit3 p {
	margin-left: -15px;
	margin-right:-15px;
	font-size: 13px;
}

.box-3 {
	position: rerative;
	height: 35px;
	border-radius: 3px 3px 3px 3px;
	border-top: 5px solid #9370DB;
	border-left: 2px solid #a9a4a4;
	border-right: 2px solid #a9a4a4;
	border-bottom: 2px solid #a9a4a4;
	background-color: #a9a4a4;
}

.box-3 h3 {
	position: absolute;
	top: 12px;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.recruit4 .box-3 {
	margin-left: -35px;
	margin-right:-25px;
}

.recruit4 p {
	margin-left: -35px;
	margin-right:-25px;
	font-size: 13px;
}

.box-4 {
	position: rerative;
	height: 35px;
	border-radius: 3px 3px 3px 3px;
	border-top: 5px solid #9370DB;
	border-left: 2px solid #a9a4a4;
	border-right: 2px solid #a9a4a4;
	border-bottom: 2px solid #a9a4a4;
	background-color: #a9a4a4;
}

.box-4 h3 {
	position: absolute;
	top: 12px;
	font-size: 15px;
	font-weight: bold;
	color: white;
}

.recruit5 .box-4 {
	margin-left: -35px;
	margin-right:-25px;
}

.recruit5 p {
	margin-left: -35px;
	margin-right:-25px;
	font-size: 13px;
}

.button-one {
  position: relative;
  display: inline-block;
  padding: .9em 4em;
  background-color: #fff;
  border: 2px solid #9370DB;
  color: #333;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}
.button-one::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-color: #fff;
  transition: all .3s;
}
.button-one:hover {
  background-color: #9370DB;
  color: #fff;
}
.post-contents .button01:hover::after {
  border-left-color: #333;
}

.button-two {
  position: relative;
  display: inline-block;
  padding: .9em 4em;
  background-color: #fff;
  border: 2px solid #9370DB;
  color: #333;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  margin-top:20px;
  margin-bottom:50px;
}
.button-two::after {
  position: absolute;
  top: 50%;
  right: .2em;
  content: '';
  margin-top: -5px;
  border: 7px solid transparent;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-left-color: #fff;
  transition: all .3s;
}
.button-two:hover {
  background-color: #9370DB;
  color: #fff;
}
.post-contents .button01:hover::after {
  border-left-color: #333;
}

.recruit .button-position {
	text-align:center;
}

