@media
print
,
screen
and
(min-width:
826px)
{

.recruit-img {
	height:250px;
	width:100%;
	object-fit: cover;
}

.wrap {
	display: flex;
	margin-right: 10px;
}

.jumbotron {
	color: #FFF;
	width: 50%;
	height: 300px;
	background-color: #FFFFFF;
	font: #000000;
}

.jumbotron p {
	color: #000;
	font-size: 18px;
}

.display-edit {
	margin-left: 70px;
}

.text-edit {
	margin-left: 70px;
}

.second-text-edit {
	margin-left: 70px;
}

.inexperienced-display {
	margin-left: 70px;
}

.button-one {
	color: #FFEEFF;
	font-size: 12px;
	border-radius: 4px;
	background-color: #0000BB;
	border: none;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
}

.button-two {
	color: #FFEEFF;
	font-size: 12px;
	border-radius: 4px;
	background-color: #0000BB;
	border: none;
	padding: 10px;
	width: 200px;
	transition: all 0.5s;
}

.button-one span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-two span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-one span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button-two span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button-one:hover span {
	padding-right: 25px;
}

.button-two:hover span {
	padding-right: 25px;
}

.button-one:hover span:after {
	opacity: 1;
	right: 0;
}

.button-two:hover span:after {
	opacity: 1;
	right: 0;
}

.text-edit {margin-right {

}
}