@media print , screen and (max-width: 826px) {

	.recruit-img {
	height:250px;
	width:100%;
	object-fit: cover;

}
	.wrap {
		display: block;
	}
	.jumbotron {
		width: 100%;
	}
	.display-edit {
		margin-left: 0px;
	}
	.text-edit {
		margin-left: 0px;
	}
	.second-text-edit {
		margin-left: 0px;
	}
	.display-4 {
		text-align: center;
	}
	.text-edit {
		text-align: center;
	}
	.second-text-edit {
		text-align: center;
	}
	.text-edit-two {
		text-align: center;
	}
	.inexperienced-display {
		text-align: center;
	}
	.experienced-display {
		text-align: center;
	}
	.button-one {
		color: #FFEEFF;
		font-size: 12px;
		border-radius: 4px;
		background-color: #0000BB;
		border: none;
		padding: 10px;
		width: 200px;
		transition: all 0.5s;
	}
	.button-two {
		color: #FFEEFF;
		font-size: 12px;
		border-radius: 4px;
		background-color: #0000BB;
		border: none;
		padding: 10px;
		width: 200px;
		transition: all 0.5s;
	}
	.button-one span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}
	.button-two span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
	}
	.button-one span:after {
		content: '»';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}
	.button-two span:after {
		content: '»';
		position: absolute;
		opacity: 0;
		top: 0;
		right: -20px;
		transition: 0.5s;
	}
	.button-one:hover span {
		padding-right: 25px;
	}
	.button-two:hover span {
		padding-right: 25px;
	}
	.button-one:hover span:after {
		opacity: 1;
		right: 0;
	}
	.button-two:hover span:after {
		opacity: 1;
		right: 0;
	}
}