<div layout:decorator="layout">
  <th:block layout:fragment="layout-content">

		<div class="gtco-section">
			<div class="gtco-container main about-main">
				<div class="row gtco-heading">
					<div class="col-xs-12 text-left">
						<h2>牡蠣の世界？</h2>
						<p>英語の慣用句に「The world is one's oyster」というものがあります。
						 <br>世界は私の牡蠣？意味不明ですね。
						</p>
						<p>これは、
						 <br>★★ウィリアム・シェイクスピア　ウィンザーの陽気な女房たち(The Merry Wives of Windsor)★★
						 <br>に登場する句が由来です。
						</p>
						<p><span class="english color_11">"Why, then the world's mine oyster. Which I with sword will open.</span>
						 <br>「（もしあなたが断るのであれば）私は世界を牡蠣（真珠貝）に見立て、刀でこじ開けよう。さすれば世界は私のものだ。」
						</p>
						<p>牡蠣には英語だと真珠貝という意味も含まれます。
						 <br>かたい殻で大切な真珠を守っているというイメージがあり、
						 <br>ロンドン市交通局の公共交通用ICカードである「Oyster Card」の命名由来となっています。
						</p>
						<p>響きが良いので社名にしましたが、
						 <br>当社は提供するシステムと技術でお客様の大切な真珠（情報資産）をかたい殻（強固なセキリュティ）で守る牡蠣ということです。
						</p>
						<p><span class="english color_11">The world is you (and our) oyster!</span>
						 <br>私たちと手を結ぶのであれば、世界は我々の思うがままですよ！
						</p>
					</div>
				</div>
			</div>
		</div>
	<!-- main END  -->

  </th:block>
</div>
