<div layout:decorator="layout">
	<th:block layout:fragment="layout-content">

		<div class="gtco-section gtco-services">
			<div class="gtco-container main">
				<div class="row gtco-heading">
					<div class="col-xs-12 text-left">
						<h2>メンバー紹介</h2>
					</div>
				</div>
				<div class="row about">
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/iijima.jpg" alt="" width="100%" height="100%"
									class="img-responsive">
								<h6>代表取締役社長</h6>
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>飯島</h4>
								<p>
									当社の代表取締役社長。 <br>セールスプロモーションとイベントの会社、輸入服飾雑貨のネット通販会社、システム受託開発の中小会社をそれぞれ経験し、イベント受託とシステム開発のフリーランス業を始める。
									<br>システムのアプリケーション開発がメインで、銀行、生保、カード、公共と金融系いろいろやっているが、最近は銀行の上流がメイン。
								</p>
								<p>
									混乱した組織を取りまとめる能力、状況への素早い順応がとくに強く、結果的に炎上したプロジェクトの対応が得意。 <br>長く会社勤めの経験から、システム受託開発会社の社員教育とキャリア育成についての必要性を痛感し、より社員のためになる会社を作るために起業。ヨシダは同じ大学、同じサークル。
								</p>
								<p>趣味はオートバイ、料理</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/yoshida.jpg" alt="" width="100%" height="100%"
									class="img-responsive">
								<h6>取締役執行役員CTO</h6>
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>吉田</h4>
								<p>
									取締役執行役員CTO。 <br>大学卒業後は一般企業に７年勤める。 <br>在職中にちょっとした個人コンテンツで一花咲かせたことをきっかけに独立。
									<br>多種多様な企業でのお手伝いフリーランス業を始める。 <br>とある営業先では勝手に企画書を提出しソーシャルゲームの開発を始める。メインプログラムに、企画、外注、シナリオ、ボイス収録まで全てをこなすスペシャリスト。「（彼に出来るのであれば）自分に出来ぬことはない」強欲なフルスタックエンジニア。
									<br>特にサーバーサイドのAPI設計を得意とする。AWSを駆使しアプリケーションと連携した高負荷に強いアーキテクチャを構築する。
									<br>プログラマではあるが、コンテンツの完成や売上アップ、問題解決を興味とする。自身でカバーできない技術、規模であっても外注オフショアを用いて独力で完成させる柔軟さも持つ。
								</p>
								<p>趣味はパソコンを持って旅に出ること。</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/shoda.jpg" alt="" width="100%" height="100%"
									class="img-responsive">
								<h6>CIO</h6>
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>正田</h4>
								<p>2020年２月入社。</p>
								<p>
									CIO。 <br>大学卒業後大手製造業のIT部門に入社。
								</p>
								<p>グループ全体で10万人規模の基幹ITインフラ（主にメール、DNS、セキュリティ）の運用担当、リーダーとして15年間キャリアを積む。
								</p>
								<p>2019年12月に自分が身につけたスキルが他でも通用するかどうか試してみたくなり、転職を決意し、オイスターワールドに入社。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/ogawa.jpg" alt="" width="100%" height="100%"
									class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>小川</h4>
								<p>2018年6月入社。</p>
								<p>三度の飯より音楽ゲームが好き。</p>
								<p>
									ゲーム開発へ携わりたいという思いからオイスターワールドへ入社。 <br>まずは開発経験を積むために金融系などの現場を転々としている。
								</p>
								<p>最近はVtuberへの関心も高い。</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/aoyama.jpg" alt="" width="100%" height="100%"
									class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>青山</h4>
								<p>2018年11月入社。</p>
								<p>様々な技術の習得や業務に携わりたいという思いからオイスターワールドへ入社。</p>
								<p>現在はアプリ開発案件に従事している。</p>
								<p>
									趣味は2Dシューティングゲームと音楽鑑賞。 <br>最近は技術習得の目的も含め個人的にローグライクゲームの開発などを行っている。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/inoue.jpg" alt="" width="100%" height="100%"
									class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>井上</h4>
								<p>2019年6月入社。</p>
								<p>
									ゲーム開発者を志してオイスターワールドへ入社。 <br>
								<p>
									開発経験は全くなかったが、入社してから2ヶ月に及ぶ研修を受講。 <br>現在ではインフラ整備やクライアント/サーバサイドのアプリ開発案件に参入し、開発経験を積んでいる。
								</p>
								<p>
									好きなゲームのジャンルは音楽ゲーム。 <br>アクションパズルとMMORPGも好き。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/saitou.gif" alt="" width="100%" height="100%"
									class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>齋藤</h4>
								<p>2019年7月入社。</p>
								<p>ゲームが大好きで、特にRPGとパズルゲームを頻繁にやっている。</p>
								<p>
									元々は食品販売をやっていたが、自分で好きなゲーム開発をしたく<br>教育制度が整っているオイスターワールドに入社。
								</p>
								<br>
								<p>最近はボードゲームに夢中で、世界中のボードゲームを遊ぶことが趣味。</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/osawa_icon.jpg" alt="" width="100%"
									height="100%" class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>大澤</h4>
								<p>2019年8月入社。</p>
								<p>建設会社で営業をしていたが、日々進歩するIT業界に興味を持ち入社。</p>
								<p>
									将棋からオンラインゲーム、漫画から演劇まで幅広く娯楽を愛する。 <br>最近の関心は筋トレ・哲学・自作PCの改良。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/hayakawa_icon.jpg" alt="" width="100%"
									height="100%" class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>早川</h4>
								<p>2020年3月入社。</p>
								<p>教員として技術科を教えていた経験があり、IT業界に興味を持ち入社。</p>
								<p>
									趣味はゲーム、スポーツ観戦、音楽鑑賞、書道をすること。
									<br>好きなゲームのジャンルはスポーツゲーム。
									<br>RPGやレースゲームも好きでよくやっている。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/kawabata.png" alt="" width="100%"
									height="100%" class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>河端</h4>
								<p>2020年4月入社。</p>
								<p>保育士をしていたが、知り合いの紹介でITに興味を持ち入社。</p>
								<p>謎解き、パズルゲームなど、頭を使う遊びが好き。
								<br>最近はマーダーミステリーやボードゲームをオンラインで遊んでいる。
								<br>モバイルだとFPSから育成ゲーム、リズムゲーム等、興味の赴くままにやる。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="member feature-left">
							<div class="copy col-xs-8 col-sm-4 col-md-3">
								<img src="images/ueno_icon.png" alt="" width="100%"
									height="100%" class="img-responsive">
							</div>
							<div class="profile col-xs-12 col-sm-8 col-md-9">
								<h4>植野</h4>
								<p>2020年4月入社。</p>
								<p>大学で情報系を学んだのち、フルスタックエンジニアを志し、オイスターワールドに入社。
								<br>研修を経て開発技術を身に着けたのち、現在はアプリ開発案件において日々研鑽に励む。
								</p>
								<p>
								趣味は海・山・満開の桜・星空などの美しい風景を探しに、一人旅に出ること。
								<br>好きなゲームはアトリエシリーズなどのRPG作品。最近は専らソーシャルゲームもプレイしている。
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- main END  -->
	</th:block>
</div>
