<div layout:decorator="layout">
	<th:block layout:fragment="layout-content">
		<link rel="stylesheet" th:href="@{/css/recruit2.css}">

		<div class="gtco-section gtco-services">
			<div class="gtco-container main">
				<div class="row gtco-heading">
					<div class="col-xs-12 recruit-left">
						<h2>採用情報</h2>
					<div class="col-xs-12 recruit">
						<div class="font-form">
							<h3>
								＜社員の教育とキャリア育成を大事にする会社＞ <br> <br>未経験から安心して成長&生涯活躍できるエンジニアへ
							</h3>
						</div>
						<div class="col-xs-12 recruit2">
							<div class="box">
								<h3>オイスターワールドの強み</h3>
							</div>
							<div>
								<br>
								<p>プログラミング技術はもちろん、顧客との折衝や要件定義、設計といった上流工程を含め、将来、現場の第一線で長く活躍するために必要なスキルを確実に身に着けていくことができます。</p>
							</div>
							<div class="col-xs-12 recruit3">
								<div class="box-2">
									<h3>充実した教育環境</h3>
								</div>
								<br>
								<p>業務で必要なIT系国家資格などを対象に、取得費用を全額補助＆取得時の報奨金をはじめ、
									社内外含めた研修・セミナー・勉強会などにも積極的に参加できます。</p>
								<div class="col-xs-12 recruit4">
									<div class="box-3">
										<h3>会社と共に成長できる環境</h3>
									</div>
									<br>
									<p>会社の制度や組織作りにもアイデアを反映できるので、会社と共に成長し、プロのエンジニアを目指すことができます。</p>
								</div>
								<div class="col-xs-12 recruit5">
									<div class="box-4">
										<h3>求める人材像</h3>
									</div>
									<br>
									<p>・高い技術を身につけて生涯エンジニアとして活躍したい方<br>・教育・キャリア育成支援を受けられる会社で成長したい方</p>
									<div class="button-position">
									<a class="button-one" th:href="@{/inexperienced}">未経験者採用詳細ページへ</a>
									<a class="button-two" th:href="@{/experienced}">経験者採用詳細ページへ</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</div>